/* Mobile CSS */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.375rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.375rem;
        line-height: 1.5;
    }

    .education-details-list {
        font-size: 1.375rem;
    }

    .project-image {
        width: 100%;
        height: 250px;
        display: block;
    }
}